body{
    background-color: lightcyan;
    /* font-family: Arial, Geneva, Verdana, sans-serif; */ 
    margin: 10px;
}
.middled {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}